@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body > * {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: bold;
	color: white;
}

.background {
    /* TODO: Replace test image */
	background: url( "https://images.unsplash.com/photo-1500964757637-c85e8a162699" ) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	/*
	font-weight: 300;
	color: white;*/
}

.top {
	/*position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;*/
	margin-top: 8px;
	margin-left: 5px;
}

.bottom {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 0px;
	margin: 5px;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	/*border-style: solid;*/
}

/* Spacing for elements inside flexboxes */
.flexrow > * {
	margin-left: 10%;
	margin-right: 10%;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border-style: solid;
}

.disabled {
	color: #aaaaaa;
	text-decoration: line-through;
}

.main {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
	margin: 5px;
	padding: 10px;
}

.blur {
    background: rgba( 255, 255, 255, 0.23 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
}

.side {
	margin: 15px;
	padding: 10px;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
}

/* Text in sidebar */
.side p {
	color: black;
	/*mix-blend-mode: overlay;*/
}

.bar {
    /* Colourblind person does colouring */
    background: rgba( 47, 98, 181, 0.7 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
	border-radius: 5px;
	padding: 8px;
}

.hidden {
    display: none;
}