@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

a {
	font-style: bold;
	color: white;
}

.background {
    /* TODO: Replace test image */
    background-image: url( "https://images.unsplash.com/photo-1500964757637-c85e8a162699" );
	background-size: cover;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	color: white;
}

.top {
	/*position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;*/
	margin: 5px;
}

.bottom {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 0px;
	margin: 5px;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	border-style: solid;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border-style: solid;
}

.main {
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
	margin: 5px;
	padding: 10px;
}

.blur {
    background: rgba( 255, 255, 255, 0.23 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
}

.side {
	margin: 15px;
	padding: 10px;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
}

.side p {
	mix-blend-mode: difference;
}

.bar {
    /* Colourblind person does colouring */
    background: rgba( 47, 98, 181, 0.7 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
	border-radius: 5px;
	padding: 8px;
}

.hidden {
    display: none;
}